.htaccess
error.log
.htaccess.sample
.php_cs
.php_cs.dist
.travis.yml
.user.ini
CHANGELOG.md
CONTRIBUTING.md
COPYING.txt
Gruntfile.js.sample
ISSUE_TEMPLATE.md
LICENSE.txt
LICENSE_AFL.txt
PULL_REQUEST_TEMPLATE.md
app/.htaccess
app/autoload.php
app/bootstrap.php
app/etc/
app/design
app/functions.php
auth.json.sample
bin/
composer.json
composer.lock
dev/
generated/
grunt-config.json.sample
index.php
lib/
nginx.conf.sample
package.json.sample
php.ini.sample
phpserver/
pub/
setup/
update/
var/
vendor/
.github/
